torch
torchvision
torchaudio
transformers
accelerate
bitsandbytes-windows
langchain
langchain-community
sentence-transformers
faiss-cpu
pymupdf
fastapi
uvicorn[standard]
python-multipart
sqlalchemy
psycopg2-binary
streamlit
requests
regex
better-profanity